body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    color: hsl(277, 10%, 46%);
}

.cartao-do-perfil{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    width: 240px;
    height: 350px;
}

.foto-do-perfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 50px;
}

.informacoes-pessoais{
    margin-top: 10px;
}

.informacoes-pessoais li{
    font-size: 18px;
    margin: 5px 0
}

.nome{
    font-weight: bold;
    font-size: 22px;
}

.informacoes-do-perfil{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.informacao{
    text-align: center;
}

.numero-de-seguidores, .numero-de-likes, .numero-de-fotos{
    display: block;
    font-weight: bold;
}

